body{
	color:#000000;
	margin-left:0;
	margin-top:0;
	margin-width:0;
	margin-height:0;
	margin:0px;
	font-size:12px;
	font-family:宋体;
	font-weight:normal;
	/*background-color:#C7E084;*/
	background-image:url(../images/bg.GIF);
	background-repeat:repeat-x;
	
}
td {font-size: 12px;}


a:link {font-size:12px;font-family:宋体;color: #000000;text-decoration:none;}
a:visited {font-size:12px;font-family:宋体;color:#000000;text-decoration:none;}
a:active {font-size:12px;font-family:宋体;color: #FF0000;text-decoration:none;}
a:hover {font-size:12px;font-family:宋体;color: #FF0000;text-decoration:none;}

A.link-red:link {font-size:12px;font-family:宋体;color: #FF6600;text-decoration:none;}
A.link-red:visited {font-size:12px;font-family:宋体;color:#FF6600;text-decoration:none;}
A.link-red:active {font-size:12px;font-family:宋体;color: #FFCC00;text-decoration:none;}
A.link-red:hover {font-size:12px;font-family:宋体;color: #FFCC00;text-decoration:none;}

A.link-white:link {font-size:12px;font-family:宋体;color: #Ffffff;text-decoration:none;}
A.link-white:visited {font-size:12px;font-family:宋体;color:#FFffff;text-decoration:none;}
A.link-white:active {font-size:12px;font-family:宋体;color: #666666;text-decoration:none;}
A.link-white:hover {font-size:12px;font-family:宋体;color: #666666;text-decoration:none;}

A.link-hui:link {font-size:12px;font-family:宋体;color: #000000;text-decoration:none;}
A.link-hui:visited {font-size:12px;font-family:宋体;color:#000000;text-decoration:none;}
A.link-hui:active {font-size:12px;font-family:宋体;color: #FF6600;text-decoration:none;}
A.link-hui:hover {font-size:12px;font-family:宋体;color: #FF6600;text-decoration:none;}

A.link-black:link {font-size:13px;font-family:宋体;color: #000000;text-decoration:none;}
A.link-black:visited {font-size:13px;font-family:宋体;color:#000000;text-decoration:none;}
A.link-black:active {font-size:12px;font-family:宋体;color: #FF6600;text-decoration:none;}
A.link-black:hover {font-size:12px;font-family:宋体;color: #FF6600;text-decoration:none;}
.sy-image1 {
	background-repeat: no-repeat;
	height: 26px;
}

.input {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.button {
	font-family: "宋体";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.word_green{
font-size: 12px;
color:#658E02;
}
.word_white{
 color:#FFFFFF;
}
.word_yellow{
color:#EAFD49;
font-weight:bold;
}
.textB {
	font-family: "宋体";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
}
.tableBorder_lb {
	border: #A4C020 1px solid;
	border-right-style:none;
	border-top-style:none;
}
.tableBorder_br {
	border: #A4C020 1px solid;
	border-left-style:none;
	border-top-style:none;
}