<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 <hibernate-configuration>
     <session-factory>
	 <property name="hibernate.connection.url">jdbc:microsoft:sqlserver://127.0.0.1:1433;DatabaseName=db_manpower</property>
	 <property name="hibernate.connection.driver_class">com.microsoft.jdbc.sqlserver.SQLServerDriver</property>
	 <property name="hibernate.connection.username">sa</property>
	 <property name="hibernate.connection.password"/>
	 <property name="show_sql">ture</property>
	 <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
	 <property name="hibernate.jdbc.batch_size">16</property>
	 <mapping resource="com/bOS/bPRO_PersonManage/en/Users.hbm.xml"/>
	 <mapping resource="com/bOS/bPRO_PersonManage/en/Job.hbm.xml"/>
	 <mapping resource="com/bOS/bPRO_PersonManage/en/Educate.hbm.xml"/>
	 <mapping resource="com/bOS/bPRO_PersonManage/en/Institution.hbm.xml"/>
	 <mapping resource="com/bOS/bPRO_PersonManage/en/Stipend.hbm.xml"/>
     </session-factory>
 </hibernate-configuration>
